<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Profile</title>
    <link rel="stylesheet" href="feed.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="profile">
                <div class="profile-image">
                    <img src="/src/photos/<%= user.username %>/profile.jpeg" alt="Profile Picture of <%= user.username %>">
                </div>
                <div class="profile-user-settings">
                    <h1 class="profile-user-name"><%= user.username %></h1>
                </div>
                <div class="profile-stats">
                    <ul>
                        <li><span class="profile-stat-count"><%= user.stats.posts %></span> posts</li>
                        <li><span class="profile-stat-count"><%= user.stats.followers %></span> followers</li>
                        <li><span class="profile-stat-count"><%= user.stats.following %></span> following</li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p><span class="profile-real-name"><%= user.username %></span> <%= user.description %></p>
                </div>
            </div>
        </div>
    </header>
	<main>
		<div class="container">
			<div class="gallery">
				<% user.photos.forEach(function(photo) { %> 
					<div class="gallery-item" tabindex="0">
						<img src="/src/photos/<%= user.username %>/<%= photo %>" class="gallery-image" alt="Photo of <%= user.username %>">
						<div class="gallery-item-info">
							<ul>
								<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>6</li>
								<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>2</li>
							</ul>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</main>
	

    
</body>
</html>
